/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Mono:wght@500&family=Russo+One&display=swap');

* { /* Set all the fonts in this file */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: black;
    --second-color: grey;
    --text-color: white;
    --gradient: linear-gradient(black,grey);
}

/* Custom scroll bar */
html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    background: #222222;
    border-radius: 5rem;
}
section {
    padding: 50px 100px;
}
header {
    font-size:1em;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom right, grey, black); 
    padding: 10px 35px;
}
.logo {
    margin-left:50px;
    color:White;
    text-decoration: none;
    font-weight:bold;
    font-size:1.5em;
}
.logo span{
    color:red;
}
.navbar {
    margin-right:45px;
    text-align:center;
    display: flex;
    gap:3em;
}
.navbar li {
    position: relative;
}
.navbar a {
    font-size: 1 em;
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
}
.navbar a::after {
    content: "";
    width: 0; 
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after {
    width: 100%;
    box-shadow: 1px 1px 20px #fff;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.header-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.header-btn h5 {
    color: #fff;
    font-weight: 400;
}

.header-btn .profile-btn .bx {
    font-size: 24px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 50%;
    color: var(--main-color);
}

.header-btn .sign-in:hover {
    background: var(--main-color);
}

/* Drop down menu */
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    border-radius:20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user-info span {
    font-weight:400;
}
.user-info h4{
    text-align: center;
}
.user-info h6 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    font-size: 13px;
    margin-top: 5px;
    font-weight: 500;
  }
.user-info img{
    width: 60px;
    border-radius: 50%;

}
.sub-menu hr{
    border: 0;
    height: 2px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    border:solid;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    cursor:pointer;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
    margin-left:140px;
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translate(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}
.sub-menu form button {
    border: none;
    background-color:white;
}

/* Reservation Choose Car */
.heading {
    padding-top: 130px;
    text-align: center;
}

.heading span {
    font-weight: 500;
    text-transform: uppercase;
}

.heading h1 {
    font-size: 2rem;
}

.heading-2 {
    padding-top: 130px;
    padding-bottom: 40px;
    text-align: center;
}

.heading-2 span {
    font-weight: 500;
    text-transform: uppercase;
}

.heading-2 h1 {
    font-size: 2rem;
}

.main-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    min-height: 60vh; 
    
}
.main-container a {
    text-decoration: none;
    color: black;
}

.main-container .box {
    text-align: center;
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}

.main-container .box .bx {
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: var(--main-color);
}

.main-container .box h2 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}

.main-container .box .bx:hover {
    background: var(--gradient);
    color: #fff;
    transition:0.8s;
}


/* Copyright */
.copyright {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a {
    color: #444;
    padding: 10px;
    font-size: 21px;
}


/* Popup Car Details */
.close-icon {
    font-size: 20px;
    cursor: pointer;
    position:relative;
    bottom:80%;
    left:80%;
    width:10%;
    display: block;
    text-decoration: none;
    color: #999;
    transition: color 0.2s ease-in-out;
  }
.bottom-right {
    position:absolute;
    bottom:20px;
    right:20px;
  }
.center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
  .popup-delete {
    width: 100vw;
    height: 100vh;
    position:fixed;
    padding:40px 60px;
    border-radius:10px;
    box-sizing:border-box;
    z-index:1000;
    text-align:center;
    opacity:1;
    /* top:0; */
    transform:translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
    /* top 1000ms ease-in-out,
    transform 1000ms ease-in-out; */
    background-color:rgba(0,0,0,.9);
    color:White;

    box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.1), 
    0 4px 8px rgba(0, 0, 0, 0.1), 
    0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .popup-delete .icon {
    margin:5px 0px;
    width:50px;
    height:50px;
    border:2px solid #34f234;
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:60px;
    transition: all 300ms ease-in-out 250ms;
  }
  .popup-delete .icon i.fa {
    font-size:30px;
    color:#34f234;
  } 
  .popup-delete .title {
    margin:5px 0px;
    font-size:20px;
    font-weight:500;
    transition: all 300ms ease-in-out 300ms;
  }

  /* Description pop-up */
  .popup-delete h2{
    font-size:1.7em;
    padding-bottom:30px;
  }
  .popup-delete h2 span{
    color:red;
  }
  .popup-delete .description {
    margin-top:30px;
    margin-bottom:30px;
    color: white;
    font-size:15px;
    padding:5px;
    transition: all 300ms ease-in-out 350ms;
  }

  .popup-delete .description-inner {
    color:white;
    margin: 2rem 30rem;
    font-size:15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight:300;
  }

  .popup-delete .dismiss-btn {
    margin-top:15px;
    transition: all 300ms ease-in-out 400ms;
  }
  .popup-delete .dismiss-btn button {
    padding:10px 20px;
    background: #FF6600; 
    color:white;
    border:2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
  }
  
  .popup-delete .dismiss-btn button:hover {
    color:#111;
    background:#f5f5f5;
  }
  .popup-delete > div {
    position:relative;
    top:10px;
    opacity:1;
  }
  /* .popup-delete.active > div {
    top:0px;
    opacity:1;
  } */
  
/* footer */
footer{
    font-size:0.8em;
    background: linear-gradient(to bottom right, black, grey); 
    text-align:center;
    width:100%;
    padding-top:20px;
    padding-bottom:29px;
  }

footer a{
    font-weight:800;
    font-size:1.3em;
    color:black;
    text-decoration:none;
}
footer a span{
    color:red
}
footer p{
    color:white;
    font-weight:lighter;
    opacity:0.2;
}
/* Media scaling */
@media (max-width: 991px) {
    header {
        padding: 18px 40px;
    }

    section {
        padding: 50px 40px;
    }
}

@media (max-width: 881px) {
    .home {
        background-position: left;
    }
    .form-container form {
        bottom: 0.2rem;
        left: 40px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 11px 40px;
    }

    #menu-icon {
        display: initial;
    }

    .sign-up {
        display: none;
    }

    .text h1 {
        font-size: 2.5rem;
    }

    .home {
        grid-template-columns: 1fr;
    }

    .form-container form {
        position: unset;
    }

    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #111111;
        box-shadow: 0 4px 4px rgba(0,0,0,0.1);
        transition: 0.2s ease;
        text-align: left;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a {
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;
    }

    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
        border: none;
    }

    .navbar a::after {
        display: none;
    }

    .heading span {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .heading h1 {
        font-size: 1.3rem;
    }

    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-img {
        padding: 1rem;
        order: 2;
    }
}

@media (max-width: 568px) {
    .copyright {
        flex-direction: column;
    }

    .newsletter .box {
        width: 284px;
    }

    .form-container {
        padding-top: 2rem;
    }
}

@media (max-width: 350px) {
    header {
        padding: 6px 14px;
    }

    .logo img {
        width: 30px;
    }

    section {
        padding: 50px 14px;
    }

    .header-btn .sign-in {
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 400;
    }

    .text h1 {
        font-size: 2 rem;
    }

    .services-container {
        grid-template-columns: repeat(auto-fit, minmax(254px, auto));
    }
}


